@import './reset.css';

/* .App {
    position: relative;
} */
:root {
    --r-color: #d51919;
    --dr-color: #b12121;
    --w-color: #fff;
    --b-color: #414244;
    --border-color: #f0f0f0;
    --text-color: #727272;
    --test-bg: #f5f5f5;
    --hover-color: #eee;
    --hover2-color: #f9f9f9;
}

.wrap {
}
.container {
    max-width: 550px;
    margin: 0 auto;
}
.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0 0;
    position: relative;
}
.main_color {
    background: var(--r-color);
}
.test_color {
    background: var(--test-bg);
    padding: 80px 15px;
    justify-content: flex-start;
    align-items: flex-start;
}
.result_color {
    padding: 80px 44px;
    justify-content: flex-start;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}
.main .title {
    text-align: center;
}
.main .title h1 {
    color: var(--w-color);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
.main .title h2 {
    color: var(--w-color);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 85px;
}
.main .box {
    min-height: 275px;
    max-height: 275px;
    margin-bottom: 25px;
    position: relative;
}
.main .box .main_img {
    width: 230px;
    margin: 0 auto;
}
.main .box .main_img img {
    width: 100%;
    height: 100%;
}
.main .inner {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.main .inner h3 {
    width: 178px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    position: relative;
    background: var(--dr-color);
    color: var(--w-color);
    border-radius: 10px;
}
.main .inner h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--dr-color);
    border-bottom: 0;
    /* margin-left: -20px; */
    margin-bottom: -10px;
}
.main button {
    display: block;
    width: 148px;
    margin: 0 auto;
    margin-bottom: 88px;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    background: var(--w-color);
    border-radius: 40px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.main button:hover {
    background: var(--hover-color);
    transition: all ease-in 0.2s;
}

.question {
    width: 100%;
}
.question .title_box {
    min-height: 250px;
}
.question p {
    font-size: 14px;
    font-weight: 500;
    color: var(--r-color);
    text-decoration: underline;
    margin-bottom: 20px;
}
.question h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    white-space: pre-line;
}
.question h3 {
    font-size: 14px;
    font-weight: 500;
    color: var(--b-color);
    /* margin-bottom: 55px; */
}
.question .select_box {
}
.question .select_box button {
    width: 100%;
    height: 80px;
    padding: 20px 18px;
    text-align: left;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
    border: 1px solid var(--border-color);
}
.question .select_box button:hover {
    background: var(--hover2-color);
    transition: all ease-in 0.2s;
}

.result {
}
.result .title {
}
.result .title h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--r-color);
    text-align: center;
    margin-bottom: 25px;
}
.result .title span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
    text-align: center;
}
.result img {
    max-width: 200px;
    margin-bottom: 5px;
}
.result .text_box {
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding-top: 24px;
}
.result .text_box p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 2px;
    line-height: 25px;
    white-space: pre-line;
}

.result button {
    position: absolute;
    bottom: 50px;
    right: 44px;
    font-size: 14px;
    color: var(--r-color);
    text-decoration: underline;
}
.result button:hover {
    color: var(--dr-color);
}

@media (max-width: 400px) {
    .question h2 {
        font-size: 18px;
    }

    .question .title_box {
        min-height: 200px;
    }
    .result_color {
        padding: 70px 20px;
        box-shadow: none;
    }
}
